
.DS_Store
project/.idea/inspectionProfiles/Project_Default.xml
project/.idea/misc.xml
project/.idea/modules.xml
project/.idea/project.iml
project/.idea/vcs.xml
project/.idea/inspectionProfiles/profiles_settings.xml
